In [1]:
import sqlite3

In [2]:
query1 = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER)
"""

In [3]:
con = sqlite3.connect('mydata.sqlite')
con.execute(query1)

con.commit()

In [4]:
data  = [('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'
con.executemany(stmt, data)
con.commit()

In [5]:
cursor = con.execute('SELECT * FROM test')
rows = cursor.fetchall()
print(rows)

[('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]

In [6]:
cursor.description#获取列名

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [7]:
import pandas as pd
df = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
print(df)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5